.imgCon {
  background: url("../../assets/spacex-9dF7pCyaM9s-unsplash.jpg");
  height: 100vh;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.65);
  /* rgba(55,55,55,0.66) */
  background-blend-mode: darken;
}



.captionCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 70%;
}

.nextLaunch
{
    margin-bottom: 1.5rem;
    text-align: center;
    /* tablet */
    /* white-space: nowrap; */
}
.nextLaunch > :nth-child(1) {
  text-transform: uppercase;
  /* letter-spacing: 2px; */
  font-size: 3rem;
  font-weight: 100;
  color: white;
}

.nextLaunch > :nth-child(2) {
  /* letter-spacing: 2px; */
  font-size: 3rem;
  color: var(--text-main);
}

.quote
{
  position: absolute;
  bottom: 1rem;
  color: rgb(190, 192, 196);
  font-weight: bold;
  align-self: center;
  padding: 12px;
  text-align: center;
  
}
.quote > :nth-child(1)
{
  font-weight: 300;
}

.quote > :nth-child(2)
{
  color: rgb(6, 107, 173);
  text-transform: uppercase;
}

/* media query */
@media only screen and (max-width: 481px)   {
  .imgCon
  {
    background-position: center center;
  }
  .nextLaunch > :nth-child(1) 
  {
    font-size: 2rem;
  }
  .nextLaunch > :nth-child(2) 
  {
    font-size: 2rem;
  }
  .captionCon
  {
    align-items: center;
  }
}