.countDown {
  color: rgb(0, 111, 185);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}
.time {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.time > h2 {
  font-size: 9rem;
  font-weight: 500;
  color: var(--text-main);
}

.time > h4 {
  color: var(--text-secondary);
  text-transform: uppercase;
  font-weight: 300;
}

.dot {
  font-size: 7rem;
}
/* media query */
@media only screen and (max-width: 768px)   {
  .time > h2 {
  font-size: 5rem;
}
.dot {
  font-size: 3rem;
}
.time > h4
{
  font-size: 13px;
}
}

@media only screen and (max-width: 481px)   {
  .time > h2 {
  font-size: 3rem;
}
.dot {
  font-size: 3rem;
}
}