nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

nav > a {
  font-size: 1.7rem;
  font-weight: 100;
  margin: 24px;
  color: rgb(190, 192, 196);
  position: relative;
  text-transform: capitalize;
  letter-spacing: 2px;
  padding: 4px;
}

nav > a::after,
nav > a::before {
  content: "";
  width: 0;
  height: 2px;
  will-change: width;
  background-color: rgb(0, 111, 185);
  position: absolute;
  bottom: 0px;
  transition: width 0.15s ease-out 0s;
}

nav > a::before {
  left: 50%;
  transform: translateX(-50%);
}
nav > a::after {
  right: 50%;
  transform: translateX(50%);
}

nav > a:hover::after,
nav > a:hover::before {
  width: 100%;
}

.change::after,
.change::before {
  width: 100%;
}
.hamburger {
  display: none;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
}
.hamburger-box
{
  width: 25px;
}
.hamburger:hover {
    opacity: 1;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  background-color: white;
  width: 25px;
  border-radius: 4px;
}

/* state change */
.openNav {
  clip-path: circle(140% at 150px 38px);
}

/* media query */
@media only screen and (max-width: 768px) {
  nav > a {
    margin: 20px;
  }
}
@media screen and (max-width: 481px) {
  .hamburger {
    display: initial;
    position: absolute;
    top: 13px;
    right: 25px;
    background: #006fb8;
  }
  nav {
    clip-path: circle(24px at 150px 38px);
    flex-direction: column;
    align-items: center;
    background: rgb(16, 16, 16);
    position: fixed;
    top: 0;
    width: 200px;
    justify-content: center;
    bottom: 0;
    right: 0;
    left: initial;
    z-index: 1000;
    transition: 0.3s ease-in;
  }
  nav > a {
    font-size: 1.5rem;
    margin: 15px;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  #root {
    position: relative;
  }
}
