.con > h2 {
  text-transform: uppercase;
}


.h4
{
    color: white;
    font-weight: 400;
}
.h5
{
    color: white;
    font-weight: 200;
}

.con div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding: 0.5rem 0;
  margin: 0.7rem 0;
}
